:root {
    --blue: #0163D2;
    --grey: #00000036;
    --white: #f8f8f8;
    --black: #000000;
    --light_black: #222222;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* a:hover {
    text-decoration: none;
    color: var(--light_black);
} */


/* body {
    font-family: 'Noto Sans', sans-serif;
    background: var(--mainWhite);
    color: var(--black);
} */

.header {
    width: 100%;
    height: 80px;
    display: block;
}

.inner-header {
    height: 100%;
    width: 78%;
    display: block;
    margin: auto;
}

.nav-bar{
    padding: 20px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-second {
    display: flex;
}

.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.icon-container {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    height: 50%;
    width: 50%;
}

.icon-cart {
    padding: 6px;
    width: auto;
    height: auto;
}

.shop-page{
    margin: 0px 15px 0px 15px;
}

.banner {
    height: 550px;
    background: url("../banner.png");
    background-size: cover;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/************* Products Section Starts **********/
.products-wrapper {
    width: 75%;
    margin: 60px auto 155px auto;

}
.products-wrapper .products-header {
    margin: 50px 0px 10px 0px;
    padding: auto;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}

.products-wrapper .products-content-wrapper {
    margin: 10px 0px 10px 0px;
    background-color: orange;
}

#products-section .products-content-wrapper .products-content {
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#products-section .products-content-wrapper .products-content .products-main {
    width: 25%;
    height: 350px;
    margin: 10px;
}

#products-section .products-content-wrapper .products-content .products-main .product-image-holder {
    height: 240px;
    padding: 10px;
}

#products-section .products-content-wrapper .products-content .products-main .product-datails-holder {
    padding: 10px;
}

.star-review {
    display: flex;

}

/************* Products Section Ends **********/

/******************** Cart Section Starts ****************/

.cart-main {
    width: 100%;
    height: auto;
    margin: 20px 0 60px 0;
    /* background-color: var(--grey); */
    display: flex;
    justify-content: center;
}

/** Cart Checkout, Total Section Left**/

.cart-main .cart-wrapper-left {
    width: 55%;
    /* background-color: var(--blue); */
}

.cart-main .cart-wrapper-left .cart-heading-wrapper, .cart-content-wrapper {
    height: auto;
    /* background-color: #aa2525;
    border: 3px solid rgb(240, 232, 232);
    border-radius: 10px; */
    padding: 10px;
    margin: 5px 0px 0px 0px;
    display: flex;
    justify-content: center;
    color: rgb(173, 165, 165);
    font-weight: 600;
    font-size: medium;
}

.cart-main .cart-wrapper-left .cart-content-wrapper .cart-product, .cart-main .cart-wrapper-left .cart-heading-wrapper .cart-product {
    width: 50%;
    display: flex;
    /* background-color: #6d3e3e; */
}

.cart-main .cart-wrapper-left .cart-content-wrapper .cart-product-price,
.cart-main .cart-wrapper-left .cart-heading-wrapper .cart-product-price {
    width: 20%;
    display: flex;
    justify-content: center;
    /* background-color: #2a2121; */
}

.cart-main .cart-wrapper-left .cart-content-wrapper .cart-product-price, .cart-main .cart-wrapper-left .cart-content-wrapper .cart-product-subtotal, .cart-main .cart-wrapper-left .cart-content-wrapper .cart-product-button, .cart-main .cart-wrapper-left .cart-content-wrapper .cart-product-quantity {
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

.cart-main .cart-wrapper-left .cart-content-wrapper .cart-product-quantity,
.cart-main .cart-wrapper-left .cart-heading-wrapper .cart-product-quantity {
    width: 40%;
    display: flex;
    justify-content: center;
    /* background-color: #9d9a9a; */
}

.cart-main .cart-wrapper-left .cart-content-wrapper .cart-product-subtotal,
.cart-main .cart-wrapper-left .cart-heading-wrapper .cart-product-subtotal {
    width: 20%;
    display: flex;
    justify-content: center;
    /* background-color: #9c8686; */
}

.cart-main .cart-wrapper-left .cart-content-wrapper .cart-product-button,
.cart-main .cart-wrapper-left .cart-heading-wrapper .cart-product-button {
    width: 10%;
    /* background-color: #988282; */
}

.cart-main .cart-wrapper-left .cart-content-wrapper .cart-product .cart-product-image {
    width: 50%;
    height: 100%;
    /* background-color: #9f8686; */
}

.cart-main .cart-wrapper-left .cart-content-wrapper .cart-product .cart-product-name {
    width: 75%;
    /* background-color: #795f5f; */
    padding: 20px;
}

.underline {
    width: 100%;
    border-top: 3px solid rgb(240, 232, 232);
}

.quantity-full {
    /* background-color: #795f5f; */
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    border: 1px solid rgb(240, 232, 232);   
}

.quantity-full div{
    width: 100%;
    text-align: center;
    border: 1px solid rgb(240, 232, 232);
}

.cart-product-button button {
    width: 40%;
    background: transparent;
    border: 3px solid rgb(240, 232, 232);
    border-radius: 50%;
}

/** Cart Checkout, Total Section Right **/

.cart-main .cart-wrapper-right {
    width: 25%;
    /* background-color: var(--white); */
}

.cart-main .cart-wrapper-right .cart-checkout-wrapper {
    height: auto;
    border: 3px solid rgb(240, 232, 232);
    border-radius: 10px;
    padding: 20px;
    margin: 5px 0 0 30px;
}

.cart-main .cart-wrapper-right .cart-checkout-wrapper .checkout-head {
    font-size: larger;
    font-weight: 900;
    text-transform: capitalize;
    margin: 3px 0 20px 0;
}

.cart-main .cart-wrapper-right .cart-checkout-wrapper .checkout-content {
    border-top: 3px solid rgb(240, 232, 232);
}

.cart-main .cart-wrapper-right .cart-checkout-wrapper .checkout-content .checkout-item {
    font-size: large;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.cart-main .cart-wrapper-right .cart-checkout-wrapper .checkout-foot {
    font-size: larger;
    display: flex;
    justify-content: space-between;
    margin: 250px 0 0 0;
}

.cart-main .cart-wrapper-right .cart-checkout-wrapper .checkout{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-main .cart-wrapper-right .cart-checkout-wrapper .checkout a {
    color: var(--white);
}

.cart-main .cart-wrapper-right .cart-checkout-wrapper .checkout a:hover {
    color: var(--light_black);
}

/************* Cart Section Ends ************/

footer{
    background-color: var(--blue);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

/* .banner .banner-content {
color: var(--white);
width: 100%;
top: 0;
left: 0%;
display: flex;
align-items: center;
} */

/* .banner .banner-content .banner-container{
width: 136.8rem;
margin: auto;
position: relative;
padding: 0 2rem;
}

.banner .banner-content .banner-container .inner-content{
width: 42%;
}

.banner .banner-content h1 {
font-size: 5rem;
line-height: 5.5rem;
} */

/* .inner-banner {
    width: 100%;
    height: 70vh;
    background: var(--grey);
}

.banner-container{
    background: var(--black);
    padding: 20px;
} */

/* #products_section{
    height: 600px;
}

.product-heading{
    display: flex;
    justify-content: center;
    margin: 50px 0px 25px 0px ;
}

.product-content{
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px 20px 200px;
}

.product-content-1,
.product-content-2,
.product-content-3,
.product-content-4 {
    width: 24%;
    text-align: center;
} */